{% load static %}
{% load carts_tags %}

{% user_carts request as carts  %}

<h4 class="d-flex justify-content-between align-items-center mb-4">
  <span class="text-primary">Ваш кошик</span>
  <span class="badge bg-primary rounded-circle pt-2">1</span>
</h4>
{% for cart in carts %}
<ul class="list-group mb-4">
  <li class="list-group-item d-flex justify-content-between lh-sm align-items-center">
    <div>
      <h6 class="my-0">{{ cart.product.name }}</h6>
    </div>
    <div class="input-cart">
      <span class="input-cart-btn">
        <button type="button" class="btn btn-dark btn-sm decrement" data-cart-id="" data-cart-change-url="">-</button>
      </span>
      <input type="text" class="form-control-cart number" value="{{ cart.quantity }}" readonly>
      <span class="input-cart-btn">
        <button type="button" class="btn btn-dark btn-sm increment" data-cart-id="" data-cart-change-url="">+</button>
      </span>
    </div>
    <span class="text-body-secondary">{{ cart.product.sell_price }}&nbsp;₴</span>
    <a class="btn btn-toggle align-items-center rounded collapsed" href="{% url "cart:delete_in_cart" cart.id %}">
      <i class="bi bi-trash text-danger"></i>
    </a>
    <!--<button class="btn btn-link p-0 ms-2" type="button" aria-label="Видалити товар">
      <i class="bi bi-trash text-danger"></i>
    </button>-->
  </li>
</ul>
{% endfor %}
<li class="list-group-item d-flex justify-content-between">
  <span class="fw-bold">Всього {{ carts.total_quantity }} товари на суму:</span>
  <strong>{{ carts.total_price }} ₴</strong>
</li>
<button class="w-100 btn btn-dark" onclick="window.location.href="{% url "user:users_cart" %}"" type="button">Продовжити
  оформлення</button>



