{% extends "skelet.html" %}
{% load static %}

{% block content %}
<section class="shopping-cart spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="shopping__cart__table">
					<br><br><br>
					{% include "carts/includes/cart_included.html" %}
					</table>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="continue__btn">
							<a href="index.html">Продовжити покупки</a>
						</div>
						<div class="continue__btn">
							<a href="index.html">Оформити замовлення</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}