{% extends "main/skelet.html" %}
{% load static %}

{% block content %}
	<section id="hero" style="background-image:url({% static "deps/image/pexels.jpg" %});">
		<div class="container padding-large">
			<div class="row">
				<div class="col-md-6 col-lg-5 offset-md-2 text-center bg-black p-5">
					<h2 class="display-1 banner-text text-uppercase text-white mt-3">Street Wears</h2>
					<p class="text-uppercase text-white mb-4">High quality cool tshirts for street fashion</p>
					<a href="#" class="btn btn-outline-light btn-wrap">
						Start Shopping <i class="bi bi-arrow-right fs-5 align-text-bottom"></i>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section id="category" class="padding-medium">
		<div class="container-fluid">
			<div class="row px-md-5">
				<div class="col-md-4 position-relative">
					<div class="z-1 position-absolute bottom-0 start-0 m-3 mg-lg-5 ps-4 text-white">
						<h5 class="text-light text-uppercase">Printed T-Shirts</h5>
					</div>
					<div class="image-holder zoom-effect">
						<a href="single-post.html">
							<img src="{% static "deps/image/banner1.jpg" %}" alt="img" class="post-image img-fluid">
						</a>
					</div>
				</div>
				<div class="col-md-4 position-relative ">
					<div class="z-1 position-absolute bottom-0 start-0 m-3 mg-lg-5 ps-4 text-white">
						<h5 class="text-light text-uppercase">Mono T-Shirts</h5>
					</div>
					<div class="image-holder zoom-effect">
						<a href="single-post.html">
							<img src="{% static "deps/image/banner1.jpg" %}" alt="img" class="post-image img-fluid">
						</a>
					</div>
				</div>
				<div class="col-md-4 position-relative">
					<div class="z-1 position-absolute bottom-0 start-0 m-3 mg-lg-5 ps-4 text-white">
						<h5 class="text-light text-uppercase">Graphic Hoodies</h5>
					</div>
					<div class="image-holder zoom-effect">
						<a href="single-post.html">
							<img src="{% static "deps/image/banner1.jpg" %}" alt="img" class="post-image img-fluid">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="new-arrival" class="product-store">
		<div class="container">
			<h2 class="display-5 fw-light text-uppercase text-center mb-5">Нові надходження</h2>
			<div class="row">
				<div class="col-md-6 col-lg-3 my-4">
					<div class="z-1 position-absolute rounded-3 m-3 px-3 border border-danger">
						Sale
					</div>
					<div class="product-item">
						<div class="image-holder" style="width: 100%; height: 100%;">
							<img src="{% static .product.image %}" alt="..."
								class="product-image img-fluid">
						</div>
						<div class="product-detail d-flex flex-column align-items-center mt-4">
							<h4 class="product-title mb-2 fs-5">
								<a href="{% url "catalog:product" %}">{{ product.name }}</a>
							</h4>
							<div class="item-price fs-5 fw-normal mb-2 d-flex align-items-center">
								<span class="text-sale">{{ product.price }}</span>
								<a href="product.html" class="btn btn-outline-dark ms-4 px-2 py-2 rounded">
									View Details
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 my-4">
					<div class="product-item">
						<div class="image-holder" style="width: 100%; height: 100%;">
							<img src="{% static "deps/image/photo_2_2023-04-29_21-57-46-1024x1024.jpg" %}" alt="Books"
								class="product-image img-fluid">
						</div>
						<div class="cart-concern">
							<div class="cart-button d-flex justify-content-between align-items-center">
								<a href="single-product.html"
									class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">add to cart
								</a>
								<a href="single-product.html" class="view-btn">
									<i class="bi bi-arrow-right pe-1 text-primary"></i>
								</a>
							</div>
						</div>
						<div class="product-detail d-flex justify-content-between align-items-center mt-4">
							<h4 class="product-title mb-0">
								<a href="single-product.html">Nike Air Jordan 1 Retro Low OG ‘Voodoo’</a>
							</h4>
							<p class="mb-1 fs-5 fw-normal">2998 грн</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 my-4">
					<div class="product-item">
						<div class="image-holder" style="width: 100%; height: 100%;">
							<img src="{% static "deps/image/photo_2_2023-04-29_21-57-46-1024x1024.jpg" %}" alt="Books"
								class="product-image img-fluid">
						</div>
						<div class="cart-concern">
							<div class="cart-button d-flex justify-content-between align-items-center">
								<a href="single-product.html"
									class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">add to cart
								</a>
								<a href="single-product.html" class="view-btn">
									<i class="bi bi-arrow-right pe-1 text-primary"></i>
								</a>
							</div>
						</div>
						<div class="product-detail d-flex justify-content-between align-items-center mt-4">
							<h4 class="product-title mb-0">
								<a href="single-product.html">Nike Air Jordan 1 Retro Low OG ‘Voodoo’</a>
							</h4>
							<p class="mb-1 fs-5 fw-normal">2998 грн</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 my-4">
					<div class="z-1 position-absolute rounded-3 m-3 px-3 border border-dark-subtle">
						Sale
					</div>
					<div class="product-item">
						<div class="image-holder" style="width: 100%; height: 100%;">
							<img src="{% static "deps/image/photo_2_2023-04-29_21-57-46-1024x1024.jpg" %}" alt="Books"
								class="product-image img-fluid">
						</div>
						<div class="cart-concern">
							<div class="cart-button d-flex justify-content-between align-items-center">
								<a href="single-product.html"
									class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">add to cart
								</a>
								<a href="single-product.html" class="view-btn">
									<i class="bi bi-arrow-right pe-1 text-primary"></i>
								</a>
							</div>
						</div>
						<div class="product-detail d-flex justify-content-between align-items-center mt-4">
							<h4 class="product-title mb-0">
								<a href="single-product.html">Nike Air Jordan 1 Retro Low OG ‘Voodoo’</a>
							</h4>
							<p class="mb-1 fs-5 fw-normal">2998 грн</p>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center mt-5 pt-4">
				<button type="submit" class="btn btn-dark rounded-3">View All Products</button>
			</div>
		</div>
	</section>
	<section id="service" class="padding-medium">
		<div class="container">
			<div class="row justify-content-center g-md-5 pt-4">
				<div class="col-md-4 mb-4">
					<div class="card mx-auto">
						<div>
							<iconify-icon class="service-icon text-primary fs-2"><i class="bi bi-shield-check"
									style=font-size:1.6rem;></i></iconify-icon>
						</div>
						<h4 class="py-2 m-0">100% безпечна оплата</h3>
							<div class="card-text">
								<p class="blog-paragraph fs-6">Гарантовано безпечний спосіб оплати для вашої повної впевненості</p>
							</div>
					</div>
				</div>
				<div class="col-md-4 mb-4">
					<div class="card mx-auto">
						<div>
							<iconify-icon class="service-icon text-primary fs-2"><i class="bi bi-truck"
									style=font-size:1.6rem;></i></iconify-icon>
						</div>
						<h4 class="py-2 m-0">Безкоштовна доставка</h3>
							<div class="card-text">
								<p class="blog-paragraph fs-6">Безкоштовна доставка діє за умови, що покупка зроблена на суму від 4000
									грн</p>
							</div>
					</div>
				</div>
				<div class="col-md-4 mb-4">
					<div class="card mx-auto">
						<div>
							<iconify-icon class="service-icon text-primary fs-2"><i class="bi bi-calendar3"
									style=font-size:1.6rem;></i></iconify-icon>
						</div>
						<h4 class="py-2 m-0">Щоденні пропозиції</h3>
							<div class="card-text">
								<p class="blog-paragraph fs-6">Заходьте щодня, щоб скористатися нашими свіжими та вигідними пропозиціями
								</p>
							</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}